*{
    background:  #0e0101;;
}
.mobile{
    display: none;
}
.text-container{
    display: flex;
    width: 100%; 
    justify-content: space-around;
}
.middle-box{
    background-color: #0e0101;
    color: sandybrown;
    width: 400px;
    padding: 10px 50px;
    text-align: center;
    font-size: x-large;
}
.text-container .side-box{
    padding: 10px 90px;
    overflow: hidden;
    width: auto;
    font-size: x-large;
    color: rgb(20, 10, 1);
    background-color: sandybrown;
    text-align: center;
}
.explore-container{
    width: 100%;
    height: auto;
    display: flex;
    
    
}
.exp-one {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    
}
.heading-txt{
    font-size: 60px;
    padding: 20px 50px;
    
    color: sandybrown;
}
.exp-one div{
    color: white;
    padding: 20px 40px;
}
.exp-one button{
    width: 150px;
    color: #0e0101;
    background-color: sandybrown;
    border: none;
    border-radius: 10px;
    margin-left: 10%;
    padding: 5px;
}
.explore-img{
    background: url(../images/home-explore.jpg);
    width: 50%;
}
.home-container{
    background: url(../images/backimg_home.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.home-container h1{
    font-size: 60px;
    text-align: center;
    padding: 20px ;
    color: sandybrown;
    background-color: transparent;
}
.home-container div{
    background-color: transparent;
    font-size: x-large;
    padding: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.svg-img{
    width: auto;

}
.svg-img img{
    object-fit: cover;
    width: 100%;
    background-color: transparent;
}
.button1{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    color: sandybrown;
    border: 1px solid sandybrown;
}
.button2{
    padding: 5px 10px;
    background-color: sandybrown;
    color: black;
    border-radius: 10px;
}
.image-container{
    display: flex;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.image-container img{
    width: 450px;
}
.menu-box{
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}
.menu-box h1{
    width: 80%;
    color: sandybrown;
    padding: 10px;
    font-size: 40px;
}
.menu-box div{
    width: 30%;
    padding: 20px;
}
.menu-one{
    padding: 20px;
    border: 2px solid sandybrown;
    text-align: left;
    border-radius: 20px;
}
.menu-one h2{
    color: sandybrown;
    
}
.menu-one li{
    color: white;
    list-style-type: square;
    background-size: 3px;
}
.event-box{
    background: url(../images/event_img1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.event-one{
   /* background:url(../images/event_img2.jpg) no-repeat;
    background-size: cover;*/
    background-color: transparent;
    width: 50%;
    height: 100vh;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.event-one h1{
    color: brown;
    background-color: transparent;
    text-align: center;
}
.event-one p{
    background-color: transparent;
    font-size: x-large;
    padding: 0px 60px;
}
.event-one button{
    background-color: white;
    color: sandybrown;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: sandybrown;
}
.event-one button:hover{
    color: white;
    background-color: sandybrown;
}
.container-food{
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;

}
.container-food div{
    width: 33%;
    height: 300px;
    border: 2px solid sandybrown;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px;
    background:url(https://theweddingbiryani.com/wp-content/uploads/2023/12/cb-website.png) no-repeat ;
    background-size: cover;
    color: white;
    
}
.container-food div h3{
    color: sandybrown;
    background-color: transparent;
}
.food-container{
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}
.food-container div{
    width: 20%;
    height: 350px;
    border: 2px solid sandybrown;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: sandybrown;
    font-size: xx-large;
    gap: 50px;
    text-align: center;
}
.food-container div img{
    width: 200px;
    height: 150px;
}
.button-food{
    width: 100%;
    padding: 30px;
    gap: 50px;
    display: flex;
}
.location-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;

}
.location-container div{
    width: 40%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.location-container div h1{
    color: sandybrown;
    font-size: 60px;
    padding: 30px;
}
.location-container div p{
    font-size: x-large;
    color: white;
}
.location-container div button{
    width: 180px;
    
}
.map-container{
 display: inline;
}
.map-container span{
    color: sandybrown;

}
iframe{

    width: 350px;
    height: 350px;
}
@media only screen and (max-width: 800px) {

    nav{
        display: none;
    }
    .desktop{
   display: none;
    }
    .mobile{
        display: block;
        width: 100%;
        height: 100vh;
    }
    .carousel-item img{
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }
    .text-container{
        display: flex;
        width: 100%;

        flex-direction: column; 
        align-items: center;
    }
    
    .explore-container{
        flex-direction: column;
    }
    .exp-one{
        width: 100%;
    }
    .explore-img{
        background: url(../images/home-explore.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
    }
    .home-container{
        padding: 20px;
    }
    .image-container{
        overflow: scroll;
    }
    .image-container::-webkit-scrollbar{
overflow: scroll;
-webkit-overflow-scrolling: hidden;
    }
    .menu-box div{
        width: 80%;
        padding: 20px;
    }
    .menu-box{
        flex-direction: column;
        align-items: center;
    }
    .event-box{
        width: 100%;
        height: max-content;
    }
    .event-one{
        width:100%;
        height: 80vh;
        align-items: center;
        background:url(../images/event_img1.jpg) no-repeat;
        background-size:100% 100%;
    }
    .container-food{
        flex-direction: column;
        gap: 50px;
    }
    .container-food div{
        width: 90%;  
    }
    .food-container{
        gap:20px;
    }
    .food-container div{
        width: 40%;
        gap:40px;
        height: 300px;
        font-size: large;
    }
    .food-container div img{
        width: 130px;
    }
    .location-container{
        flex-direction: column;
    }
    .location-container div{
        width: 90%;
        align-items: center;
    }
    iframe{
        width: 300px;
    }
}